<h1>Here is the list of posts for a given user:</h1>
<div class='post-card'>
  <div class='post-header'>
    <h3>"<%= @post.title %> by: <%= User.find(@post.user_id).name %>"</h3>
    <p><%= @post.text %></p>
    <div class='likes-comments'>
      <p>Comments: <%= @post.CommentCounter.nil? ? 0 : @post.CommentCounter %></p>
      <p>Likes: <%= @post.LikesCounter.nil? ? 0 : @post.LikesCounter %></p>
    </div>
  </div>
  <% if can? :destroy, @post %>
  <%= button_to "Delete Post", user_post_path(@post.user, @post), method: :delete, class: "btn btn-outline-danger btn-lg btn-block" %>
<% end %>
</div>
<div class='comments_user'>
  <% @post.comments.each do |comment| %>
    <p><%= User.find(comment.user_id).name %>: <%= comment.text %></p>
    <% if can? :delete, comment %>
    <%= button_to "Delete", user_post_path(comment.post,comment.user, comment),
                  method: :delete, class: "btn btn-outline-danger btn-sm" %>
   <% end %>
  <% end %>
</div>

<%= form_for @like, url:user_like_path do |f|%>
  <%= f.hidden_field :user_id, value: @post.user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.submit "Like", disable_with: 'updating likes...' %>
<% end %>

<h4>Add comment</h4>
<%= form_for @comment, url:user_comments_path do |f| %>
  <%= f.hidden_field :user_id, value: @post.user.id %>
  <%= f.hidden_field :post_id, value: @post.id %>
  <%= f.label :text %><br />
  <%= f.text_area :text, placeholder:'Add your Comment' %><br />
  <%= f.submit "Submit comment", class:'btn', disable_with: 'Submiting Comment...' %>
<% end %> 